<style>
h1 {
  padding: 10px 0;
}
</style>

<h1>Best Man Speech For Jason</h1>

<p>
Hello everyone, my name is Matt Higgins. I am Jason's older twin brother by two minutes. I will be your best man for the evening, although normally I'm known as the bad twin.
</p>

<p>
Before I spend the next few minutes embarrassing Jason, I'd like to thank everyone for coming. Also, thanks to the bridal party for your help. Thanks to our mom, Christie, who grew all the flowers you see here. Thanks to Jason and Hillary for getting married, so that we can all get drunk on a boat. And thanks to myself for the music playlist.
</p>

<p>
When Jason asked me to be the best man, I became mortified by the responsibility of delivering a speech. Needing some inspiration, I recently went on the Internet to get some ideas for what to say. Thankfully, I found a good piece of advice saying that the speech should last as long as the groom makes love. Thank you, ladies and gentlemen.
</p>

<p>
I originally wanted to use this once in a lifetime opportunity to tell an embarrassing story about Jason. However, I'm above that. More importantly, I was personally involved in most of the troublemaking, and do not want to ruin my reputation. As a result, I'm not going to mention the time that Jason called me at 5am, December 10th of 2003, asking for $500 bail. I won't explain how our neighbor's bush caught fire on July 5th, 1995, or why a 90 foot flame erupted near college campus in 2001. I certainly won't go into detail about why everyone calls Jason by the nickname Rat.
</p>

<p>
Instead, I decided to be introspective, and discuss my twinship with Jason. When we were born on July 30th, 1982, the doctors had planned for Jason to come out first. During labor he wrapped his umbilical cord around my neck, and a c-section needed to be performed to take me out first. This set the precedent for a very competitive brotherhood ... where despite Jason's effort to cheat, he would still finish in second place.
</p>

<p>
Our parents liked to motivate us in school and sports. For example, during little league, our dad Steve offered to buy us a book whenever we made a hit. This explains why Jason read very few books during elementary school. The rewards our parents gave caused a lot of jealousy, and this jealousy was the primary source of motivation throughout our childhood.
</p>

<p>
Even though we were competitive, Jason and I have always gotten along quite well, and were always good about sharing friends, toys, clothes, secrets. But when he found something I wasn't allowed to share, I knew it had to be serious. In the first year of Jason and Hillary dating, I saw Hillary on the way out of our college gym. In a defining moment that Hillary is unaware of, I raced her home. She probably didn't know we were racing, or that extreme exhaustion caused me to throw up in my mouth. This is when I knew that Hillary could challenge Jason into becoming a better person, and possibly help him lose some weight.
</p>

<p>
Hillary challenges Jason in many good ways, and has encouraged him to develop positive qualities, such as responsibility, communication, sympathy, and so many other traits that he wouldn't otherwise need, had he stayed single.
</p>

<p>
Since I'm your older brother, I guess I should give you some relationship advice. One thing that my girlfriend and I do is never go to bed angry. We usually stay up and argue. In reality, Jason is the one who gives me advice. Despite my two extra minutes of age over him, he is the mature one and ready for the responsibilities of marriage. These two get along the best of any couple I know. Over the last year, I have observed them in their home, and each fill the roles required by a domestic relationship. For example, Jason is in charge of killing the spiders, and Hillary does everything else.
</p>

<p>
It's time to be serious for a moment. Jason and Hillary have an unparalleled level of mutual respect for one another. Hillary, you look incredibly beautiful this evening, and you make Jason a very happy man. So thank you everyone for being here and sharing in the joy of Jason and Hillary's marriage. Let's all raise our glasses in a toast to their lifetime of happiness together.
</p>