<style>
  h1 {
    padding: 10px 0;
  }
  
  h3 {
    padding: 15px 0 10px 0;
  }
</style>

<h1>The Boat Returns</h1>
<img src="http://www.seattleferryservice.com/images/wide.jpg" />

<p>
  After a two year hiatus, the boat revisits our lives.
  For those who experienced the ferry in past years, it is not to be missed.
</p>

<ul>
  <li><strong>When: </strong>July 5th, 7pm - 11pm</li>
  <li><strong>Where: </strong>Leaves Fishermans Terminal</li>
  <li><strong>What: </strong>Boating, Drinking, Floating</li>
  <li><strong>Price: </strong>$30 / person</li>
  <li><strong>Capacity: </strong>49 People</li>
</ul>

<h3>Details</h3>
<p>
  This ride is one hour longer than previous; pace yourselves!
  The boat opens at 6pm and leaves at 7pm.
  We will cruise to Lake Washington and go by the big houses near Medina.
  There is a new sound system on the boat.
</p>

<h3>Contact</h3>
<p>
  <a href="mailto:matthuhiggins@yahoo.com">Mail me</a> if you are interested.
  It easily filled up in past years.
</p>

<h3>Attendees Who Paid</h3>
<ol>
  <li>Matthew Higgins</li>
  <li>Jason Higgins</li>
  <li>Hillary Atwood</li>
  <li>Elise Ricci</li>
  <li>Tony Spinrad</li>
  <li>Lydia Walsh</li>
  <li>Anna Vogler</li>
  <li>Cassie Voss</li>
  <li>Nick (Cassie Voss)</li>
  <li>Tyler (Brandon Packman)</li>
</ol>

<h3>Have Not Paid</h3>
<ol>
  <li>Brandon Packman</li>
  <li>Annie Kyger</li>
  <li>Jessie (Brandon Packman)</li>
  <li>Shawn Zabecki</li>
  <li>Mike Spiz</li>
  <li>Liz Barnes</li>
  <li>Thalia (Tony Spinrad)</li>
  <li>Jenny (Tony Spinrad)</li>
  <li>Kimmy Walker (Tony Spinrad)</li>
  <li>Joey Barnes (Tony Spinrad)</li>
  <li>Rachel (Tony Spinrad)</li>
  <li>Ashley (Tony Spinrad)</li>
  <li>Nick Kiley</li>
  <li>Hess Hodge</li>
  <li>Katy Odsather</li>
  <li>Monica (Elise Ricci)</li>
  <li>Erik Gunterson</li>
  <li>Erik's Girlfriend (Erik Gunterson)</li>
  <li>Amanda (Erik Gunterson)</li>
  <li>Chad (Erik Gunterson)</li>
  <li>Melissa Barber (Erik Gunterson)</li>
  <li>Melissa Barber's Roommates (Erik Gunterson)</li>
  <li>Jeff Morris</li>
  <li>Reeve Elliot</li>
  <li>Malik (Reeve Elliot)</li>
  <li>Leona Beutel (Reeve Elliot)</li>
  <li>Maria John (Reeve Elliot)</li>
  <li>Andrew (Cassie Voss)</li>
  <li>Mari Lou (Cassie Voss)</li>
  <li>Joe (Cassie Voss)</li>
  <li>CB (Cassie Voss)</li>
  <li>Shane Roberts (Cassie Voss)</li>
  <li>Jesse Heineman</li>
  <li>Dan (Jesse Heineman)</li>
  <li>Jeff (Jesse Heineman)</li>
</ol>
