<h1>Brigitte's Secret Website</h1>

<p>
  Hi Brigitte,
  You had a long day of studying yesterday, despite your displeasure with your short sleep.
  
  You have the most wonderful smile.
  I can imagine you smiling right now and can't wait to see you tonight!
</p>

<p>
  - <strong>Matt</strong> October 20, 2011
</p>

<p>
  Hi Brigitte, it's Internet Matt.
  You have the most wonderful smile.
  I can imagine you smiling right now and can't wait to see you tonight!
</p>

<p>
  - <strong>Matt</strong> July 08, 2011
</p>