<% title 'Seattle Field Trip' %>

<div id="frame">
  <h1>Seattle Field Trip</h1>
  <img src="http://www.yourpartybus.com/MVC-015F_copy.jpg" />

  <p>
    You are invited to a special occasion.
  </p>

  <ul>
    <li><strong>When: </strong>June 19th, 8pm</li>
    <li><strong>Where: </strong>Seattle</li>
    <li><strong>What: </strong>Drinking and Driving</li>
    <li><strong>Price: </strong>$18 / person</li>
    <li><strong>Capacity: </strong>35 People</li>
  </ul>

  <h3>Details</h3>
  <p>
    We will explore the Seattle metropolis, taking in the sites and sounds of our Emerald City.      
    Please request locations for our field trip.
  </p>

  <p>
    A keg will be provided.
    Our final destination will not be disclosed.
  </p>
  
  <h3>Contact</h3>
  <p>
    Send mail to <a href="mailto:matthewhiggins.com@gmail.com">mailto:matthewhiggins.com@gmail.com</a>.
  </p>
  
  <h3>Attendees</h3>
  <ol>
    <li>Matthew Higgins</li>
    <li>Jason Higgins</li>
  </ol>
</div>