<% title 'Matthew Higgins.com' %>

<%= stylesheet_link_tag 'index' %>

<div class="header">
  <h1>Matthew Higgins</h1>
  <h2>The Homepage</h2>
</div>

<div class="content">
  <h3>Play</h3>
  <script type="text/javascript" src="http://friendfeed.com/embed/widget/matthuhiggins?v=2&amp;num=10&amp;hide_logo=1"></script>
  <noscript>
    <a href="http://friendfeed.com/matthuhiggins">
      <img alt="View my FriendFeed" style="border:0;" src="http://friendfeed.com/embed/widget/matthuhiggins?v=2&amp;num=10&amp;format=png&amp;hide_logo=1"/>
    </a>
  </noscript>
</div>

<div class="projects">
  <h3>Work</h3>
  <div class="project">
    <a href="http://www.napera.com"><img src="images/napera.gif" alt="Napera Networks" id="stupid-margin"/></a>
    <p>
      The company I work for.
    </p>
  </div>
  <div class="project">
    <a href="http://stuffwhitepeopledid.com">
      <h1 id="swpd">Stuff White People Did</h1>
    </a>
    <p>
      A facebook app based on Stuff White People Like
    </p>
  </div>
  <div class="project">
    <a href="http://www.haikuvillage.com"><img src="images/haikuvillage.png" alt="Haiku Village"/></a>
    <p>
      A place to create and share haiku.
    </p>
  </div>
  <div class="project">
    <a href="http://www.strictlyuntyped.com">
      <h1 id="strictly-untyped">Strictly Untyped</h1>
    </a>
    <p>
      My blog.
    </p>
  </div>
</div>
