<table>
  <tr>
    <td>Electrician</td>
    <td>Joe Harrison</td>
    <td>206.335.8722</td>
  </tr>
  <tr>
    <td>Ducting</td>
    <td>James Heating</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Dentist</td>
    <td>Queen Anne Dental Group</td>
    <td>206.284.7812</td>
  </tr>
  <tr>
    <td>Interior Design</td>
    <td>Suzanne Galager</td>
    <td>425.743.6776</td>
  </tr>
  <tr>
    <td>Masonry</td>
    <td>Salmon Bay Sand &amp; Gravel</td>
    <td>206.784.1234</td>
  </tr>
  <tr>
    <td>Lumber</td>
    <td>Limback Lumber Co</td>
    <td>206.782.3487</td>
  </tr>
</table>