<style>
  td {
    border: 1px solid #bbb;
    padding: 3px 4px;
  }
</style>

<h2>Services</h2>
  
<table>
  <tr>
    <td>Haircut</td>
    <td>Nancy Navarrete</td>
    <td>425.646.3666</td>
  </tr>
  <tr>
    <td>Dentist</td>
    <td>Queen Anne Dental Group</td>
    <td>206.284.7812</td>
  </tr>
  <tr>
    <td>Physician</td>
    <td>Swedish Medical</td>
    <td>206.320.3335</td>
  </tr>
  <tr>
    <td>Oil Change</td>
    <td>Affordable Tire &amp; Brake</td>
    <td>206.281.8221</td>
  </tr>
  <tr>
    <td>Interior Design</td>
    <td>Suzanne Galager</td>
    <td>425.743.6776</td>
  </tr>
  <tr>
    <td>Electrician</td>
    <td>Joe Harrison</td>
    <td>206.335.8722</td>
  </tr>
  <tr>
    <td>Ducting</td>
    <td>James Heating</td>
    <td>206.923.1876</td>
  </tr>
  <tr>
    <td>Windows</td>
    <td>Evergreen Installation</td>
    <td>425.531.1597</td>
  </tr>
  <tr>
    <td>Masonry</td>
    <td>Salmon Bay Sand &amp; Gravel</td>
    <td>206.784.1234</td>
  </tr>
  <tr>
    <td>Lumber</td>
    <td>Limback Lumber Co</td>
    <td>206.782.3487</td>
  </tr>
  <tr>
    <td>Sheetrock</td>
    <td>Redhawk</td>
    <td>206.920.9104</td>
  </tr>
  <tr>
    <td>Tile</td>
    <td>Karen Ivy</td>
    <td>425.771.1477</td>
  </tr>
</table>