<table>
  <tr>
    <td>Electrician</td>
    <td>Joe Harrison</td>
    <td>206.335.8722</td>
  </tr>
  <tr>
    <td>Ducting</td>
    <td>James Heating</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Dentist</td>
    <td>Queen Anne Dental Group</td>
    <td>206.284.7812</td>
  </tr>
</table>