<h1>Shawna's Checklist</h1>

<ul>
  <li>Gasworks ✓</li>
  <li>Sunset Hill Park ✓</li>
  <li>Arboretum</li>
  <li>Golden Gardens ✓</li>
  <li>Seattle Cheese Festival</li>
  <li>Knee High Stocking Co</li>
</ul>
