<style>
body {
  color: #666;
}

h1,
.valentine {
  color: #8F1513;
}

.letter {
  overflow: hidden;
  padding-top: 15px;
}

.letter .text {
  float: left;
  font-size: 16px;
  padding-right: 3%;
  width: 49%;
}

.letter .images {
  float: left;
  padding-right: 3%;
  text-align: center;
  width: 44%;
}
</style>

<h1>Terms of Endearment</h1>
<h3>A letter-poem for Erin Schuldt</h3>

<div class="letter">
  <div class="text">
    <p>
      You are my <span class="valentine">special sweetheart</span> because on some mornings you make me a large bowl of oatmeal while I nap in your bed.
    </p>
    <p>
      I call you <span class="valentine">buttercup</span> because it reminds me of melting which is what happens to my heart when I look in your eyes.
    </p>
    <p>
      I love saying <span class="valentine">dollface</span> on date night when you look extraordinary and beautiful.
    </p>
    <p>
      <span class="valentine">Sugar lips</span> is self explanatory; your lips taste like Jolly Ranchers.
    </p>
  </div>
  <div class="images">
    <%= image_tag 'http://farm1.static.flickr.com/151/387375486_1b3d2e291a_m.jpg' %>
  </div>
</div>

<div class="letter">
  <div class="images">
    <%= image_tag 'http://farm1.static.flickr.com/140/388973158_8416b691db.jpg', :width => 280 %>
  </div>
  <div class="text">
    <p>
      The first name I gave you is <span class="valentine">honey</span>, but I really wanted to say <span class="valentine">hot legs</span> instead.
    </p>
    <p>
      You became a <span class="valentine">friend</span> overnight, we turned <span class="valentine">lovers</span> in a week, and I called you my <span class="valentine">girlfriend</span> after a month, and this makes me happy for infinity days.
    </p>
    <p>
      Yours Truly,
      <br />
      Matthew Higgins
    </p>
  </div>
</div>