<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <style>
    #messages {
      height: 200px;
      overflow-y: scroll;
      width: 500px;
    }
  </style>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>
  <h2>Welcome to Chat</h2>
  <div id="messages">
  </div>

  <form id="message-form">
    <input id="message" type="text" />
  </form>
  
  <script>
  $(function() {
    function addMessage(message) {
      var messageBox = document.getElementById('messages');
      messageBox.innerHTML += "<div>" + message + "</div>";
      messageBox.scrollTop = messageBox.scrollHeight;
    }
  
    $('#message-form').submit(function(event) {
      event.preventDefault();
      $.post('/message', {'message': $('#message').val()});
      $('#message').val('');
    });
    $('#message').focus();
  
    var currentRevision = null;

    function messagePath() {
      if (currentRevision == null) {
        return "/message";
      } else {
        return "/message/" + currentRevision;
      }
    }
    
    var loadMessages = function(messages) {
      for(var i = 0; i < messages.length; i++) {
        addMessage(messages[i]);
      }
    };
    
    var retrieve = function() {
      $.getJSON(messagePath(), function(data) {
        console.debug('got it: ' + data.number);
        currentRevision = data.number;
        loadMessages(data.messages);
      });
    };
    
    retrieve();
    setInterval(retrieve, 1000);
  });
  </script>
  
  <p><fb:login-button autologoutlink="true"></fb:login-button></p>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '116529841715555',
        status: true,
        cookie: true,
        xfbml: true
      });
    };

    (function() {
      var e = document.createElement('script');
      e.type = 'text/javascript';
      e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
</body>
</html>