<div class="post">
  <div class="title_and_time">
    <span class="title">
      <%= post.title %>
    </span>
    <span class="created_at">
      <%= time_ago_in_words post.created_at %> ago
    </span>
  </div>
  <div class="copy">
    <%= markdown post.copy %>
  </div>
  <div>
    <%= link_to 'Delete', list_post_path(post.list, post), method: :delete, remote: true %>
  </div>
</div>
