* {
  outline: none;
}

body {
  font-family: "kepler-std", "Georgia", "Times", serif;
  color: #333;
}

a {
  color: #12C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  color: #444;
  font-family: "acta-display", Georgia, Times, serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 10px 0;
}

h3 {
  font-size: 24px;
  padding: 20px 0;
}

strong {
  font-weight: bold;
}

li {
  list-style-position: inside;  
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: lower-roman;
}

p + p {
  padding-top: 20px;
}

form {
  input[type="text"] {
    padding: 3px;
  }
  
  textarea {
    padding: 3px;
  }
}