#lists_new,
#lists_edit {
  #list_form {
    float: left;
    width: 40%;
  }

  #list_form > div {
    padding: 10px 0;
  }
  
  #list_form label {
    display: block;
  }
  
  #list_form input[type="text"] {
    width: 300px;
  }
  
  #list_form textarea {
    height: 80px;
    width: 300px;
  }
}

#lists_show {
  #post_list {
    .post {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      padding: 10px 0;
    }

    .post .title {
      font-weight: bold;
    }
    
    .post .created_at {
      color: #666;
      font-size: 11px;
      margin-left: 12px;
    }
  }

  #post_form {
    border: 1px solid #ccc;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px;
    width: 50%;

    > div {
      padding: 5px 0;
    }

    label {
      display: block;
    }

    input[type="text"] {
      width: 300px;
    }

    textarea {
      height: 80px;
      width: 300px;
    }
  }
}