/*html {
  background-color: transparent;
}*/

#static.index {
  body {
  }

  h3 {
//    font-family: Georgia, serif;
    font-size: 200%;
    font-weight: bold;
//    color: #CC6600;
  }

  h4 {
    font-size: 130%;
    font-weight: bold;
  }

  .projects {
    float: left;
    width: 30%;
  }

  .project {
    padding: 20px 0;
  
    & > a {
      text-decoration: none;
    }

    a h1#swpd {
      background-color: #3B5998;
      color: white;
      font-family: "lucida grande", tahoma, sans-serif;
      padding: 3px 0 3px 6px;
    }

    a h1#strictly-untyped {
      color: #612E00;
      font-family: Georgia,Times New Roman, sans-serif;
      font-size: 25px;
      padding: 0 10px 0 0;
      width: 176x;
    }
  }
}

#static.loml {
  min-height: 740px;  
}

#static.loml  #frame {
  border: none;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;

  strong {
    font-weight: bold;
    color: #8F1513;
  }

  em { 
    font-style: italic;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    
    &:hover {
        background: rgba(255,255,255,1);
        text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
    }
  }

  sup {
    vertical-align: text-top;
  }

  .step {
    width: 900px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Open Sans', Arial, sans-serif;
//      font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
  }

  /* fade out inactive slides */
  .step {
      -webkit-transition: opacity 1s;
      -moz-transition:    opacity 1s;
      -ms-transition:     opacity 1s;
      -o-transition:      opacity 1s;
      transition:         opacity 1s;
  }

  .step:not(.active) {
      opacity: 0.3;
  }

  .slide {
    display: block;
    width: 900px;
    height: 700px;
    padding: 40px 60px;
    border-radius: 10px;
//    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    
    q {
      display: block;
      font-size: 50px;
      line-height: 72px;
      margin: 50px 0;
    }
    
    q strong {
      white-space: nowrap;
    }
  }

  #cover {
    .hint {
      font-size: 85%;
    }
  }

  #definition {
    blockquote {
      font-style: italic;
      line-height: 1.4;
    }
    
    .examples {
      background-color: #eeefff;
      margin-top: 30px;
      padding: 20px 50px;
    }
  }

  .narrative {
    font-family: 'PT Serif', georgia, serif;
  }

  #lomls {
      padding: 0;

      .try {
          font-size: 64px;
          position: absolute;
          top: -0.5em;
          left: 1.5em;

          -webkit-transform: translateZ(20px);
          -moz-transform:    translateZ(20px);
          -ms-transform:     translateZ(20px);
          -o-transform:      translateZ(20px);
          transform:         translateZ(20px);
      }

      h1 {
          font-size: 190px;

          -webkit-transform: translateZ(50px);
          -moz-transform:    translateZ(50px);
          -ms-transform:     translateZ(50px);
          -o-transform:      translateZ(50px);
          transform:         translateZ(50px);
      }
  }

  #times {
    img {
      margin: 0;
      padding: 5px;
    }
  }

  /* big thoughts */

  #big {
      width: 600px;
      text-align: center;
      font-size: 60px;
      line-height: 1;

      b {
          display: block;
          font-size: 250px;
          line-height: 250px;
      }

      .thoughts {
          font-size: 90px;
          line-height: 150px;
      }
  }

  #tiny {
      width: 500px;
      text-align: center;
  }

  #ing {
      width: 500px;
  }

  #ing strong {
  }

  #ing .love {
      -webkit-transform: scale(.90);
      -moz-transform:    scale(.90);
      -ms-transform:     scale(.90);
      -o-transform:      scale(.90);
      transform:         scale(.90);

      display: inline-block;
      -webkit-transition: 2.0s;
      -moz-transition:    2.0s;
      -ms-transition:     2.0s;
      -o-transition:      2.0s;
      transition:         2.0s;
  }

  #ing.active .love {
      -webkit-transform: scale(1.05);
      -moz-transform:    scale(1.05);
      -ms-transform:     scale(1.05);
      -o-transform:      scale(1.05);
      transform:         scale(1.05);
  }
  
  #ing.active .first {
      -webkit-transition-delay: 1.0s;
      -moz-transition-delay:    1.0s;
      -ms-transition-delay:     1.0s;
      -o-transition-delay:      1.0s;
      transition-delay:         1.0s;
  }

  #ing.active .second {
      -webkit-transition-delay: 1.5s;
      -moz-transition-delay:    1.5s;
      -ms-transition-delay:     1.5s;
      -o-transition-delay:      1.5s;
      transition-delay:         1.5s;
  }

  #ing.active .third {
      -webkit-transition-delay: 2.0s;
      -moz-transition-delay:    2.0s;
      -ms-transition-delay:     2.0s;
      -o-transition-delay:      2.0s;
      transition-delay:         2.0s;
  }

  #end {
    font-size: 148px;
  }

  #overview {
    z-index: -1;
    padding: 0;
  }

  /* on overview step everything is visible */

  #impress.step-overview .step {
    opacity: 1;
    cursor: pointer;
  }

  /* IMPRESS NOT SUPPORTED STYLES */

  .fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    
    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
  }

  .fallback-message p {
    margin-bottom: 10px;
  }

  .impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
  }

  .impress-not-supported .fallback-message {
    display: block;
  }
}