<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link rel="icon" href="images/m.png">
  <%= stylesheet_link_tag 'reset-fonts', 'elements', 'layout' %>
</head>
<body>
  <div id="frame">
    <%= yield %>    
  </div>
  
  <%= render 'shared/analytics' %>
</body>
</html>
