<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= yield :title %></title>
  <link rel="icon" href="images/m.png">
  <%= stylesheet_link_tag 'reset-fonts', 'elements', 'layout' %>
  <link type="application/atom+xml" href="http://friendfeed.com/matthuhiggins?format=atom" rel="alternate"/>
</head>
<body>
  <div id="frame">
    <%= yield %>    
  </div>
</body>
</html>